@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        font-family: 'Space Grotesk', sans-serif;
        font-size:18px;
    },
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
}

body{
    @apply relative h-screen flex flex-col md:justify-center md:items-center;
}

/* BACKGROUND IMAGES (BACKGROUNDIMAGE.JSX) */
.bg-image-desktop{
    @apply sm:hidden md:block absolute top-0 left-0 h-screen w-4/12;
}

.bg-image-mobile{
    @apply sm:block absolute top-0 left-0 bg-cover  w-full md:hidden;
}

/* APP.JS */
.box{
    @apply relative max-w-full w-full h-full m-auto md:flex ;
}

/* (FORM.JSX) FORM DESIGN */
.con-card{
    @apply relative grow-0 shrink basis-auto flex justify-center -top-7 md:top-0 md:items-center;
}

form{
    @apply container flex flex-col justify-center;
}

.card-field{
    @apply flex flex-col mb-3 md:mb-6;
}

label{
    @apply text-xs uppercase pb-1 tracking-widest;
}

input{
    @apply border rounded-lg h-10 p-3 outline-0 font-light;
}

input:hover{
    @apply outline-inputActive border-t-inputActive border-r-input2 border-b-inputActive border-l-input2
}

.btn{
    @apply bg-veryDarkViolet text-white text-center py-3 shadow-sm tracking-wider rounded-lg mt-2;
}

.btn:hover{
    @apply bg-input2
}

.error{
    @apply tracking-tighter text-inputErrors text-xs font-medium pt-1 pl-1
}


/* (CARD.JSX) Design Card Component */
.imgFront, .imgBack{
    @apply rounded-xl shadow-lg; 
}

.Front, .Back{
    @apply relative text-whiteOfficial;
}

.Front{
    @apply top-44 -right-8 w-3/4 md:w-full md:-top-3 md:-left-44 z-10
}

.Back {
   @apply -top-32 left-24 w-3/4 md:w-full md:top-5 md:-left-24
} 

.idCard, .cardHolder, .month, .expiryYear{
   @apply absolute
}

.logo{
    @apply absolute w-14 top-7 left-10 md:w-auto;
}

.idCard{
    @apply bottom-16 left-10 text-2xl md:text-3xl tracking-wide;
}

.cardHolder{
    @apply absolute bottom-5 left-12 uppercase text-xs md:text-sm;
}

.month{
    @apply bottom-5 right-6 text-xs md:text-sm;
}

.cvc{
    @apply absolute bottom-24 right-12 text-xs md:text-lg md:bottom-28 md:right-16;
}


