@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        font-family: 'Space Grotesk', sans-serif;
    }
}

*{
    margin:0;
    padding:0;
}

body{
    @apply relative w-screen h-screen flex justify-around items-center text-lg;
}


/* Design Form Component */
.con-card{
    @apply relative flex;
}

form{
    @apply container flex flex-col justify-center
}

.card-field{
    @apply flex flex-col pt-6;
}

label{
    @apply text-xs uppercase pb-1 tracking-widest;
}

input{
    @apply border rounded-lg h-10 w-80 p-3;
}

input:hover{
    @apply outline-inputActive border-t-inputActive border-r-input2 border-b-inputActive border-l-input2
}

.btn{
    @apply bg-veryDarkViolet text-white text-center py-3 shadow-sm tracking-wider rounded-lg mt-2;
}

.btn:hover{
    @apply bg-input2
}


/* Design Card Component */
.imgFront, .imgBack{
    @apply rounded shadow-lg;
}

.Front, .Back{
    @apply relative text-whiteOfficial;
}

.Front{
    @apply md:top-3 md:-left-36;
}

.Back {
   @apply md:top-10 md:right-16;
}

.idCard, .cardHolder, .month, .expiryYear{
   @apply absolute
}

.logo{
    @apply absolute top-7 left-10;
}

.idCard{
   @apply bottom-16 left-12 text-3xl tracking-wide;
}

.cardHolder{
    @apply bottom-5 left-12 uppercase text-sm;
}

.month{
    @apply bottom-5 right-6;
}

.cvc{
    @apply absolute bottom-28 right-16;
}

.error{
    @apply tracking-tighter 
}
